.card-right {
  display: flex;
  flex-direction: column;
}
.pp-container {
  background-color: rgb(160, 211, 241);
}
.we-container {
  background-color: rgb(160, 211, 241);
}
.eh-container {
  background-color: rgb(160, 211, 241);
}
.am-container {
  background-color: rgb(160, 211, 241);
}
