.card-right {
  display: flex;
  flex-direction: column;
  width: 360px;
  background-color: rgba(255, 255, 255, 0.795);
}
.pp-container {
  background-color: rgb(160, 211, 241);
}
.we-container {
  background-color: rgb(160, 211, 241);
}
.eh-container {
  background-color: rgb(160, 211, 241);
}
.am-container {
  background-color: rgb(160, 211, 241);
}
