.card-about {
  display: flex;
  flex-direction: column;
  margin: auto 0px;
  width: 25%;
  background-color: #6d5a2fc2;
  color: rgb(255, 255, 255);

  box-shadow: 0px 1px 3px black;
  border-radius: 0.5rem;
  opacity: 0;
  animation: fadeLeftToRight 1s ease forwards;

  @keyframes fadeLeftToRight {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @media only screen and (max-width: 1280px) {
    width: 35%;
  }
  @media only screen and (max-width: 1024px) {
    width: 45%;
  }
  @media only screen and (max-width: 912px) {
    width: 55%;
  }
  @media only screen and (max-width: 540px) {
    width: 75%;
  }
  @media only screen and (max-width: 414px) {
    width: 85%;
  }
  @media only screen and (max-width: 375px) {
    width: 80%;
  }
  @media only screen and (max-width: 280px) {
    width: 85%;
  }

  .about-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(
      #6d5a2fc2 0deg 180deg,
      rgba(5, 5, 5, 0.8) 180deg 360deg
    );
    box-shadow: 1px 1px 15px rgb(0, 0, 0);
    text-shadow: 2px 2px 3px #000000;
    width: 100%;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    font-size: 25px;
    font-weight: bold;
    @media only screen and (max-width: 414px) {
      font-size: 20px;
    }
    @media only screen and (max-width: 375px) {
      font-size: 18px;
    }
  }
  .wrapper-about {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .skills-title {
      text-shadow: 2px 2px 3px #000000;
      box-shadow: 0px 1px 3px black;
      height: 50px;
      background-color: rgba(5, 5, 5, 0.815);
      border-radius: 0.5rem 0rem 0.5rem 0rem;
      font-size: 19px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      margin-bottom: 0;
      @media only screen and (max-width: 414px) {
        height: 35px;
        font-size: 16px;
      }
      @media only screen and (max-width: 375px) {
        font-size: 15px;
      }
      @media only screen and (max-width: 280px) {
        height: 25px;
        font-size: 14px;
      }

      .skills-icon {
        padding: 10px;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media only screen and (max-width: 375px) {
          padding: 8px;
          font-size: 20px;
        }
      }
    }
    .skills-list {
      display: flex;
      flex-direction: column;
      line-height: 1.4;
      font-size: 20px;
      @media only screen and (max-width: 414px) {
        font-size: 17px;
      }
      @media only screen and (max-width: 375px) {
        font-size: 15px;
      }
      @media only screen and (max-width: 280px) {
        font-size: 14px;
        padding: 0px 0px 0px 20px;
      }
      li {
        margin-bottom: 8px;
      }
    }
    .hobbies-title {
      text-shadow: 2px 2px 3px #000000;
      box-shadow: 0px 1px 3px black;
      margin: 0;
      height: 50px;
      background-color: rgba(5, 5, 5, 0.815);
      border-radius: 0.5rem 0rem 0.5rem 0rem;
      font-size: 19px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media only screen and (max-width: 414px) {
        height: 35px;
        font-size: 16px;
      }
      @media only screen and (max-width: 280px) {
        height: 25px;
        font-size: 14px;
      }

      .hobbies-icon {
        padding: 10px;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media only screen and (max-width: 375px) {
          padding: 8px;
          font-size: 20px;
        }
      }
    }
    .hobbies-list {
      display: flex;
      flex-direction: column;
      line-height: 1.4;
      font-size: 20px;
      @media only screen and (max-width: 414px) {
        font-size: 17px;
      }
      @media only screen and (max-width: 375px) {
        font-size: 15px;
      }
      @media only screen and (max-width: 280px) {
        font-size: 14px;
        padding: 0px 0px 0px 20px;
      }
      li {
        margin-bottom: 8px;
      }
    }
    .languages-title {
      text-shadow: 2px 2px 3px #000000;
      box-shadow: 0px 1px 3px black;
      margin: 0;
      height: 50px;
      background-color: rgba(5, 5, 5, 0.815);
      border-radius: 0.5rem 0rem 0.5rem 0rem;
      font-size: 19px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media only screen and (max-width: 414px) {
        height: 35px;
        font-size: 16px;
      }
      @media only screen and (max-width: 375px) {
        font-size: 16px;
      }
      @media only screen and (max-width: 280px) {
        height: 25px;
        font-size: 14px;
      }

      .languages-icon {
        padding: 10px;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media only screen and (max-width: 375px) {
          padding: 8px;
          font-size: 20px;
        }
      }
    }
    .languages-list {
      display: flex;
      flex-direction: column;
      line-height: 1.4;
      font-size: 20px;
      @media only screen and (max-width: 414px) {
        font-size: 17px;
      }
      @media only screen and (max-width: 375px) {
        font-size: 15px;
      }
      @media only screen and (max-width: 280px) {
        font-size: 14px;
        padding: 0px 0px 0px 20px;
      }
      li {
        margin-bottom: 8px;
      }
    }
  }
}
