.card-about {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: rgba(44, 47, 48, 0.966);
  color: rgb(255, 255, 255);
  margin-top: 5rem;
  box-shadow: 0px 1px 3px black;
  border-radius: 0.5rem;
  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(
      rgba(70, 70, 70, 0.9) 0deg 180deg,
      rgba(1, 80, 90, 0.9) 180deg 360deg
    );
    box-shadow: 1px 1px 15px rgb(0, 0, 0);
    text-shadow: 2px 2px 3px #000000;
    width: 100%;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    font-size: 25px;
    font-weight: bold;
  }
  .wraper-about {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .skill-title {
    text-shadow: 2px 2px 3px #000000;
    box-shadow: 0px 1px 3px black;
    height: 50px;
    background: rgb(8, 10, 10);
    background: conic-gradient(
      rgba(1, 81, 92, 0.534) 0deg 180deg,
      rgba(70, 70, 70, 0.979) 180deg 360deg
    );
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-bottom: 0;
    line-height: 1.4;
  }
  .skills-icon {
    padding: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skills {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    font-size: 20px;
    li {
      margin-bottom: 8px;
    }
  }
  .hobbies-title {
    text-shadow: 2px 2px 3px #000000;
    box-shadow: 0px 1px 3px black;
    margin: 0;
    height: 50px;
    background: rgb(8, 10, 10);
    background: conic-gradient(
      rgba(1, 81, 92, 0.534) 0deg 180deg,
      rgba(70, 70, 70, 0.979) 180deg 360deg
    );
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.4;
  }
  .hobbies-icon {
    padding: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hobbies {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    font-size: 20px;
    li {
      margin-bottom: 8px;
    }
  }
  .languages-title {
    text-shadow: 2px 2px 3px #000000;
    box-shadow: 0px 1px 3px black;
    margin: 0;
    height: 50px;
    background: rgb(8, 10, 10);
    background: conic-gradient(
      rgba(1, 81, 92, 0.534) 0deg 180deg,
      rgba(70, 70, 70, 0.979) 180deg 360deg
    );
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.4;
  }
  .languages-icon {
    padding: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .languages {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    font-size: 20px;
    li {
      margin-bottom: 8px;
    }
  }
}
