.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  width: 30rem;
  background: conic-gradient(
    rgba(5, 5, 5, 0.6) 0deg 180deg,
    #6d5a2fc2 180deg 360deg
  );
  box-shadow: 0px 30px 25px -20px rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  letter-spacing: 1px;
  opacity: 0;
  animation: fadeIn 1s ease forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media only screen and (max-width: 540px) {
    width: 100%;
    margin-top: 0rem;
    border-radius: 0px;
    box-shadow: none;
  }
  @media only screen and (max-width: 430px) {
    background: none;
  }
  @media only screen and (max-width: 375px) {
    width: 72%;
    height: 75%;
  }
  @media only screen and (max-width: 280px) {
    width: 75%;
    height: 65%;
  }

  .welcome-bar-on-top {
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(
      #6d5a2fc2 0deg 180deg,
      rgba(5, 5, 5, 0.7) 180deg 360deg
    );
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 3px #000000;
    width: 100%;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    font-size: 25px;
    font-weight: bold;
    @media only screen and (max-width: 540px) {
      border-radius: 0px;
      box-shadow: none;
    }
    @media only screen and (max-width: 430px) {
      background: none;
      margin-top: 2rem;
    }
  }

  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 340px;
    border-radius: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 2rem;
    object-fit: cover;
    @media only screen and (max-width: 540px) {
      width: 405px;
      height: 405px;
      margin: 3rem 0;
    }
    @media only screen and (max-width: 430px) {
      width: 340px;
      height: 340px;
      margin: 3rem 0;
    }
    @media only screen and (max-width: 360px) {
      width: 260px;
      height: 260px;
      margin: 3rem 0;
    }
  }

  .title-name-nl {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    text-shadow: 1px 2px 3px #000000;
    font-size: 30px;
    @media only screen and (max-width: 540px) {
      font-size: 26px;
    }
  }
  .title-proffesion {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 2px 3px #000000;
    font-size: 25px;
    margin: 10px 0;
    @media only screen and (max-width: 540px) {
      font-size: 22px;
      color: rgba(220, 220, 220);
    }
  }

  .contact-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    height: 2rem;
    width: 20rem;
    background: conic-gradient(
      #6d5a2fc2 0deg 180deg,
      rgba(5, 5, 5, 0.75) 180deg 360deg
    );
    font-size: 19px;
    margin: 10px 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 3px #000000;
    @media only screen and (max-width: 540px) {
      height: 2rem;
      width: 20rem;
      margin: 15px 0;
    }
    @media only screen and (max-width: 360px) {
      height: 2rem;
      width: 15rem;
      font-size: 16px;
    }
  }

  .phone-number-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    font-size: 20px;
    @media only screen and (max-width: 540px) {
      margin: 20px 0;
    }
    @media only screen and (max-width: 360px) {
      font-size: 16px;
    }
  }

  .phone-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    border-radius: 50%;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    border: hidden;
    background-color: rgba(5, 5, 5, 0.75);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    @media only screen and (max-width: 280px) {
      width: 32px;
      height: 32px;
      font-size: 24px;
    }
  }

  .mail-instagram-git-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    @media only screen and (max-width: 360px) {
      margin-top: 3rem;
      margin-bottom: 2rem;
    }

    .mail-link-icon-line-container {
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px solid rgb(255, 255, 255, 0.5);
    }
    .mail-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;
      font-size: 26px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      border: hidden;
      background-color: rgba(5, 5, 5, 0.75);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      color: rgb(255, 255, 255);
      transition: background-color 1s linear;
      transition-property: background-color, color;
      &:hover {
        background-color: rgb(141, 138, 138);
        color: rgba(255, 0, 0, 0.705);
      }
      &:active {
        position: relative;
        top: 1px;
      }
    }

    .insta-link-icon-line-container {
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px solid rgb(255, 255, 255, 0.5);
    }

    .insta-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;
      font-size: 28px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      border: hidden;
      background: conic-gradient(
        #6d5a2fc2 0deg 180deg,
        rgba(5, 5, 5, 0.75) 180deg 360deg
      );
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      color: rgb(255, 255, 255);
      transition: background-color 1s linear;
      transition-property: background-color, color, background;
      &:hover {
        background-color: #d6249f;
        background: radial-gradient(
          circle at 30% 107%,
          #fdf497 0%,
          #fdf497 5%,
          #fd5949 45%,
          #d6249f 60%,
          #285aeb 90%
        );
        color: white;
      }
      &:active {
        position: relative;
        top: 1px;
      }
    }

    .git-link-icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
    }
    .git-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 28px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      border: hidden;
      background-color: #6d5a2fc2;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      color: rgb(253, 253, 253);
      transition: background-color 1s linear;
      transition-property: background-color, color;
      &:hover {
        background-color: #333333;
        color: white;
      }
      &:active {
        position: relative;
        top: 1px;
      }
    }
  }
}
