.header-wraper {
  display: flex;
  position: absolute;
  top: 0;
  justify-content: space-between;
  width: 100%;
  height: 55px;
  background: conic-gradient(
    rgba(5, 5, 5, 0.6) 0deg 180deg,
    #6d5a2fc2 180deg 360deg
  );
  box-shadow: 1px 1px 2px rgb(0, 0, 0);
  border-radius: 0rem 0rem 1rem 1rem;
  @media only screen and (max-width: 550px) {
    height: 45px;
  }
  @media only screen and (max-width: 280px) {
    height: 40px;
  }

  .name-title-left {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
    text-shadow: 2px 2px 3px black;
    &:hover {
      .home {
        display: flex;
        margin-left: 1rem;
        color: rgba(200, 202, 218, 0.863);
      }
      .line {
        display: flex;
        margin-right: 1rem;
        color: #ffffff;
      }
      color: rgba(200, 202, 218, 0.863);
    }
    &:active {
      position: relative;
      top: 1px;
    }
    .home {
      display: none;
    }
    @media only screen and (max-width: 550px) {
      font-size: 14px;
    }
    @media only screen and (max-width: 375px) {
      font-size: 11px;
      margin-left: 0.5rem;
    }
  }

  .links-container-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-right: 1rem;
    @media only screen and (max-width: 550px) {
      gap: 0.4rem;
      margin-right: 0.5rem;
    }

    .profile-route-text,
    .about-route-text,
    .contact-route-text {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      width: 90px;
      background-color: #6d5a2fc2;
      font-size: 19px;
      color: rgb(255, 255, 255);
      text-shadow: 2px 2px 3px #333333;
      box-shadow: 1px 1px 6px rgb(0, 0, 0);
      text-decoration: none;
      border-radius: 3rem;
      &:hover {
        background-color: #ac9971c2;
      }
      &:active {
        position: relative;
        top: 1px;
      }
      @media only screen and (max-width: 550px) {
        height: 25px;
        width: 55px;
        font-size: 14px;
      }
      @media only screen and (max-width: 375px) {
        font-size: 12px;
        height: 20px;
        width: 46px;
      }
      @media only screen and (max-width: 280px) {
        font-size: 9px;
        height: 18px;
        width: 38px;
      }
    }
  }
}
