.card-profile {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  background: conic-gradient(
    rgba(5, 5, 5, 0.6) 0deg 180deg,
    #6d5a2fc2 180deg 360deg
  );
  color: rgb(255, 255, 255);
  width: 65rem;
  box-shadow: 0px 30px 25px -20px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  opacity: 0;
  animation: fadeLeftToRight 1s ease forwards;

  @keyframes fadeLeftToRight {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media only screen and (max-width: 1140px) {
    width: 60rem;
  }
  @media only screen and (max-width: 980px) {
    width: 45rem;
    margin-top: 2rem;
  }
  @media only screen and (max-width: 780px) {
    width: 95%;
    margin-top: 1rem;
  }

  .profile-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(
      #6d5a2fc2 0deg 180deg,
      rgba(5, 5, 5, 0.8) 180deg 360deg
    );
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 3px #000000;
    width: 100%;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    font-size: 25px;
    font-weight: bold;
    @media only screen and (max-width: 600px) {
      font-size: 20px;
    }
  }
  .main-wrapper {
    display: flex;

    @media only screen and (max-width: 980px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .profile-left {
      display: flex;
      flex-direction: column;
      width: 33rem;
      padding: 10px;
      @media only screen and (max-width: 980px) {
        width: 96%;
      }

      .personal-profile-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 100%;
        margin: 0;
        background-color: rgba(5, 5, 5, 0.815);
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        text-shadow: 2px 2px 3px #000000;
        border-radius: 0.5rem 0rem 0.5rem 0rem;
        @media only screen and (max-width: 600px) {
          font-size: 16px;
          height: 40px;
        }

        .personal-profile-icon {
          padding: 10px;
          font-size: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          @media only screen and (max-width: 280px) {
            padding: 5px;
            font-size: 20px;
          }
        }
      }
      .personal-profile-text {
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 16px;
        line-height: 1.4;
        @media only screen and (max-width: 600px) {
          font-size: 14px;
          text-align: center;
        }
      }
      .work-experience-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        margin: 0;
        background-color: rgba(5, 5, 5, 0.815);
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        text-shadow: 2px 2px 3px #000000;
        border-radius: 0.5rem 0rem 0.5rem 0rem;
        @media only screen and (max-width: 600px) {
          font-size: 16px;
          height: 40px;
        }
        .work-experience-icon {
          padding: 10px;
          font-size: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .date-one {
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        font-weight: bold;
        line-height: 1.4;
        @media only screen and (max-width: 600px) {
          font-size: 15px;
        }
      }
      .work-experience-text-first {
        margin-right: 1rem;
        font-size: 16px;
        line-height: 1.4;
        @media only screen and (max-width: 600px) {
          font-size: 14px;
          text-wrap: balance;
        }
        li {
          margin-bottom: 10px;
        }
      }
      .date-two {
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        font-weight: bold;
        line-height: 1.4;
        @media only screen and (max-width: 600px) {
          font-size: 15px;
        }
      }
      .work-experience-text-second {
        margin-right: 1rem;
        font-size: 16px;
        line-height: 1.4;
        @media only screen and (max-width: 600px) {
          font-size: 14px;
          text-wrap: balance;
        }
        li {
          margin-bottom: 10px;
        }
      }
    }
    .profile-right {
      display: flex;
      flex-direction: column;
      width: 33rem;
      padding: 10px;
      @media only screen and (max-width: 980px) {
        width: 96%;
      }

      .education-history-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        margin: 0;
        background-color: #6d5a2fc2;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        text-shadow: 2px 2px 3px #000000;
        border-radius: 0.5rem 0rem 0.5rem 0rem;

        @media only screen and (max-width: 600px) {
          font-size: 16px;
          height: 40px;
        }
        .education-history-icon {
          padding: 10px;
          font-size: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          @media only screen and (max-width: 280px) {
            padding: 5px;
            font-size: 20px;
          }
        }
      }
      .education-history-text-first {
        font-size: 16px;
        line-height: 1.4;

        @media only screen and (max-width: 600px) {
          font-size: 14px;
          text-wrap: balance;
        }
        li {
          margin-bottom: 8.5px;
        }
      }
      .about-me-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        margin: 0;
        background-color: #6d5a2fc2;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        text-shadow: 2px 2px 3px #000000;
        border-radius: 0.5rem 0rem 0.5rem 0rem;
        @media only screen and (max-width: 600px) {
          font-size: 16px;
          height: 40px;
        }
        .about-me-icon {
          padding: 10px;
          font-size: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          @media only screen and (max-width: 280px) {
            padding: 5px;
            font-size: 20px;
          }
        }
      }
      .about-me-text-first {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        font-size: 16px;
        line-height: 1.4;
        @media only screen and (max-width: 600px) {
          font-size: 14px;
          text-wrap: balance;
        }
      }
    }
  }
}
