.card-left {
  width: 500px;
  height: auto;
  background-color: rgb(23, 112, 196);
  display: flex;
  flex-direction: column;
  color: white;

  .img-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(3, 82, 128, 0.637);
  }

  .img {
    display: flex;
    height: 320px;
    width: 350px;
    border-radius: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .name-ln {
    margin-bottom: 0;
    text-shadow: 3px 3px 3px #333333;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title-about {
    text-shadow: 3px 3px 3px #333333;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact {
    text-shadow: 2px 2px 3px #333333;
    height: 50px;
    background-color: rgba(3, 82, 128, 0.637);
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .p-number-container {
    margin-bottom: 1rem;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .phone-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    font-size: 28px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: hidden;
    background-color: rgba(255, 255, 255, 0.89);
    color: rgb(44, 128, 206);
  }

  .contact-container {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mail-container {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mail-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
    font-size: 28px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: hidden;
    background-color: rgba(255, 255, 255, 0.89);
    color: rgb(44, 128, 206);
    transition: background-color 1s linear;
    transition-property: background-color, color;
    &:hover {
      background-color: #333333;
      color: rgb(255, 238, 0);
    }
  }

  .insta-container {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .insta-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
    font-size: 28px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: hidden;
    background-color: rgba(255, 255, 255, 0.89);
    color: rgb(44, 128, 206);
    transition: background-color 1s linear;
    transition-property: background-color, color, background;
    &:hover {
      background-color: #d6249f;
      background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
      );
      color: white;
    }
  }

  .git-container {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .git-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: hidden;
    background-color: rgba(255, 255, 255, 0.89);
    color: rgb(44, 128, 206);
    transition: background-color 1s linear;
    transition-property: background-color, color;
    &:hover {
      background-color: #333333;
      color: white;
    }
  }

  .skill-title {
    text-shadow: 2px 2px 3px #333333;
    height: 50px;
    background-color: rgba(3, 82, 128, 0.637);
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .skills {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
  .hobbies-title {
    text-shadow: 2px 2px 3px #333333;
    margin: 0;
    height: 50px;
    background-color: rgba(3, 82, 128, 0.637);
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hobbies {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
  .languages-title {
    text-shadow: 2px 2px 3px #333333;
    margin: 0;
    height: 50px;
    background-color: rgba(3, 82, 128, 0.637);
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .languages {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
}
