.card-left {
  width: 400px;
  height: auto;
  background-color: rgb(23, 112, 196);
  display: flex;
  flex-direction: column;
  color: white;

  .img {
    display: flex;
    height: 310px;
    width: 340px;
    border-radius: 100%;
  }
  .img-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(3, 82, 128, 0.637);
  }

  .name-ln {
    margin-bottom: 0;
    text-shadow: 3px 3px 3px #333333;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title-about {
    text-shadow: 3px 3px 3px #333333;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact {
    text-shadow: 2px 2px 3px #333333;
    height: 50px;
    background-color: rgba(3, 82, 128, 0.637);
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .contact-container {
    font-size: 21px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .mail-container {
    margin-bottom: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    a:link {
      text-decoration: none;
    }
    a {
      color: rgba(255, 255, 255, 0.822);
    }
    a:hover {
      color: rgb(105, 255, 143);
    }
  }
  .mail-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-size: 28px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: hidden;
    background-color: rgba(255, 255, 255, 0.89);
    color: rgb(44, 128, 206);
  }

  .p-number-container {
    margin-bottom: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .phone-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-size: 28px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: hidden;
    background-color: rgba(255, 255, 255, 0.89);
    color: rgb(44, 128, 206);
  }
  .insta-container {
    margin-bottom: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    a:link {
      text-decoration: none;
    }
    a {
      color: rgba(255, 255, 255, 0.822);
    }
    a:hover {
      color: rgb(105, 255, 143);
    }
  }
  .insta-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-size: 28px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: hidden;
    background-color: rgba(255, 255, 255, 0.89);
    color: rgb(44, 128, 206);
  }
  .git-container {
    margin-bottom: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    a:link {
      text-decoration: none;
    }
    a {
      color: rgba(255, 255, 255, 0.822);
    }
    a:hover {
      color: rgb(105, 255, 143);
    }
  }
  .git-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-size: 28px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: hidden;
    background-color: rgba(255, 255, 255, 0.89);
    color: rgb(44, 128, 206);
  }

  .skill-title {
    text-shadow: 2px 2px 3px #333333;
    height: 50px;
    background-color: rgba(3, 82, 128, 0.637);
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .skills {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
  .hobbies-title {
    text-shadow: 2px 2px 3px #333333;
    margin: 0;
    height: 50px;
    background-color: rgba(3, 82, 128, 0.637);
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hobbies {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
  .languages-title {
    text-shadow: 2px 2px 3px #333333;
    margin: 0;
    height: 50px;
    background-color: rgba(3, 82, 128, 0.637);
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .languages {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
}
