.card-left {
  width: 360px;
  height: auto;
  background-color: rgb(23, 112, 196);
  display: flex;
  flex-direction: column;
  color: white;

  .name-ln {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title-about {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img {
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    height: 315px;
    width: 330px;
    border-radius: 100%;
  }
  .contact-container {
    font-size: 21px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .mail-container {
    margin-bottom: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    a:link {
      text-decoration: none;
    }
    a {
      color: rgba(255, 255, 255, 0.822);
    }
    a:hover {
      color: rgb(105, 255, 143);
    }
  }
  .mail-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-size: 28px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: hidden;
    background-color: rgba(255, 255, 255, 0.89);
    color: rgb(44, 128, 206);
  }

  .p-number-container {
    margin-bottom: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .phone-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-size: 28px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: hidden;
    background-color: rgba(255, 255, 255, 0.89);
    color: rgb(44, 128, 206);
  }
  .insta-container {
    margin-bottom: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    a:link {
      text-decoration: none;
    }
    a {
      color: rgba(255, 255, 255, 0.822);
    }
    a:hover {
      color: rgb(105, 255, 143);
    }
  }
  .insta-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-size: 28px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: hidden;
    background-color: rgba(255, 255, 255, 0.89);
    color: rgb(44, 128, 206);
  }
  .git-container {
    margin-bottom: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    a:link {
      text-decoration: none;
    }
    a {
      color: rgba(255, 255, 255, 0.822);
    }
    a:hover {
      color: rgb(105, 255, 143);
    }
  }
  .git-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-size: 28px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: hidden;
    background-color: rgba(255, 255, 255, 0.89);
    color: rgb(44, 128, 206);
  }
}
