body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(42, 157, 193);
  background: linear-gradient(
    5deg,
    rgba(42, 157, 193, 0.6951155462184874) 20%,
    rgba(0, 224, 255, 0.3981967787114846) 50%,
    rgba(42, 124, 193, 0.700717787114846) 80%
  );
  line-height: 1.4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
