body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(8, 10, 10);
  background: conic-gradient(
    rgb(21, 153, 146) 0deg 180deg,
    rgba(34, 29, 29, 0.979) 180deg 360deg
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
